<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" href="/css/user_page.css">

</head>


<body>


<a href="/login">Logout</a>

<table>
    <thead>
    <tr>
        <th></th>
        <th>Message Id</th>
        <th>Sender</th>
        <th>Title</th>
        <th>Message</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody id="data-output" >

    </tbody>
</table>

<button onclick="deleteRow()">Delete</button>

<script>



    var xhr = new XMLHttpRequest();
    xhr.open("POST", "http://localhost:8080/adminuser", true);
    xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.getItem("token"));
    xhr.setRequestHeader("Content-Type", "application/json");
    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            console.log(xhr.status);
            if (xhr.status === 200) {
                var messages = JSON.parse(xhr.responseText);
                //renderMessages(messages);
                console.log(xhr.responseText);

                let placeholder = document.querySelector("#data-output");
                let out = "";
                for (let product of messages) {
                    if (product.deleted === false) {
                        out += `<tr>
                                    <td><input type="radio" name="rowSelection"></td>
                                    <td>${product.id}</td>
                                    <td>${product.sender}</td>
                                    <td>${product.title}</td>
                                    <td>${product.message}</td>
                                    <td>${product.date}</td>
                             </tr>
                        `;
                    }
                }
                placeholder.innerHTML = out;


            } else {
                console.error("Request failed with status " + xhr.status);
            }
        }

    };xhr.send();


    function deleteRow() {
        var radioButtons = document.getElementsByName('rowSelection');
        var table = document.getElementsByTagName('table')[0];
        for (var i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {
                // Delete the corresponding row
                var rowIndex = i + 1; // Add 1 to account for radio button row

                var message_id = table.rows[rowIndex].cells[1].innerText;
                deleteMessage(message_id);


                table.deleteRow(rowIndex);
                break;
            }
        }

    }

    function deleteMessage(message_id) {

        var id = message_id;
        console.log(id);
        var xhr = new XMLHttpRequest();
        xhr.open("PUT", "http://localhost:8080/adminuser/delete_message", true);
        xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.getItem("token"));
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    // Request successful
                    console.log("Message deleted " + xhr.status);
                    console.log(xhr.responseText);
                    // ...
                }
                else if (xhr.status === 401) {
                    console.error("Unauthorized..... " + xhr.status);
                }
                else {
                    console.log(xhr.responseText);
                    // Request failed
                    console.error("Request failed with status " + xhr.status);

                }
            }
        };
        var data = {
            id: id
        };

        xhr.send(JSON.stringify(data));
    }
</script>


</body>
</html>